body {
  color: #445;
  font-family: Verdana;
  font-size: 20px;
  margin: 0; }

.clearfix, #order-content .login-container {
  display: table;
  clear: both;
  content: ' '; }

.to-center, #order-content .login-container {
  display: table;
  margin-left: auto;
  margin-right: auto; }

nav {
  background-color: #000;
  box-shadow: 0 0 5px black;
  text-align: center;
  top: 0;
  width: 100%;
  min-width: 960px;
  z-index: 1000; }
  nav a.menu-logo {
    background-image: url("../img/small-logo.png");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: transparent;
    width: 120px; }
    nav a.menu-logo:hover, nav a.menu-logo.active {
      background-color: #000; }
  nav ul {
    display: table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0; }
  nav li {
    float: left;
    margin: 0;
    padding: 0; }
  nav a {
    background: #000;
    box-sizing: border-box;
    color: white;
    display: block;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color;
    transition-duration: 0.3s; }
    nav a:hover {
      background-color: #66f;
      border-bottom: solid 3px white; }
    nav a.active {
      background-color: #66f;
      border-bottom: solid 3px white; }

.rand-popup {
  position: relative; }

section.card {
  display: block;
  overflow: hidden; }
  section.card:nth-of-type(odd) {
    background-color: #eee; }

h2 {
  border-bottom: solid 1px gray;
  font-size: 36px;
  margin: 0 auto 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  width: 960px; }

h3 {
  margin: 0 auto;
  text-align: center; }

img.logo {
  width: 100%; }

.about-container {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 960px; }

.sample {
  background-image: url("../img/sample.jpg");
  background-size: cover;
  box-shadow: 3px 3px 10px black;
  float: right;
  height: 400px;
  width: 19.5%; }

.youtube {
  clear: both;
  margin: 0 auto;
  width: 800px;
  position: relative; }
  .youtube::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 56.3%; }
  .youtube .player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .youtube .player iframe {
      width: 100%;
      height: 100%; }

.fact-container {
  margin-bottom: 30px; }
  .fact-container::after {
    content: ' ';
    clear: both;
    display: table;
    height: 0; }

.fact {
  float: left;
  clear: both;
  width: 100%; }
  .fact:nth-child(even) {
    padding-left: 5%; }
    .fact:nth-child(even) .text {
      width: 75%; }
  .fact h3 {
    font-size: 20px;
    text-align: left; }
  .fact ul {
    list-style-type: none;
    padding: 0 0 20px; }
  .fact li {
    font-size: 16px;
    padding: 2px 0; }
  .fact .image {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 150px;
    width: 19.9%; }
  .fact .text {
    float: right;
    width: 80%; }
  .fact .children-image {
    background-image: url("../img/children.png"); }
  .fact .gift-image {
    background-image: url("../img/gift-box.png"); }
  .fact .house-image {
    background-image: url("../img/house.png"); }
  .fact .leaf-image {
    background-image: url("../img/leaf.png"); }
  .fact .ball-image {
    background-image: url("../img/ball.png");
    background-size: auto 80%; }

.gallery {
  margin: 0 auto 20px;
  width: 960px; }
  .gallery .thumb {
    border-radius: 5px;
    border: solid 3px white;
    width: 120px;
    height: 120px; }
  .gallery a {
    text-decoration: none; }

#prices .container {
  display: table;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 960px; }
#prices .stars {
  color: black; }

.pricelist {
  box-sizing: border-box;
  float: left;
  margin-bottom: 30px;
  width: 49.9%; }
  .pricelist table {
    border: solid 3px #66f;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
    width: 90%; }
    .pricelist table tr:nth-child(odd) {
      background-color: #ccf; }
    .pricelist table tr.time td {
      background-color: #66f;
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-align: center; }
    .pricelist table tr:hover {
      color: black; }
    .pricelist table th {
      background-color: #66f;
      color: white;
      padding: 10px;
      font-size: 24px; }
    .pricelist table td {
      font-size: 20px;
      padding: 4px 20px; }
      .pricelist table td:first-child {
        padding-right: 5px; }
      .pricelist table td:last-child {
        text-align: right;
        padding-left: 5px; }
      .pricelist table td sup {
        font-size: 0.8em; }
  .pricelist.sertificate img {
    width: 100%; }
  .pricelist.holidays {
    float: right; }
  .pricelist.holidays tr:last-child, .pricelist.workdays tr:last-child {
    border-top: solid 1px #66f; }

p.note {
  clear: both;
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  width: 960px; }
  p.note:first-of-type {
    padding-top: 20px; }

#order-content {
  margin: 0 auto;
  width: 960px; }
  #order-content .control-header, #order-content .date-title, #order-content .duration-title, #order-content .time-title, #order-content .guests-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px; }
  #order-content .control-group, #order-content .recall, #order-content .date-container {
    float: left;
    margin: 0 10px; }
  #order-content .ui-state-active {
    background: #58c;
    border-color: #445;
    color: white; }
  #order-content #datepicker, #order-content #time-table, #order-content #guests-count, #order-content #more-count, #order-content #duration-count {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
  #order-content #datepicker th {
    color: #445; }
  #order-content #guests-count {
    margin-bottom: 0; }
    #order-content #guests-count input[type=radio] {
      display: none; }
  #order-content #guests-count, #order-content #more-count, #order-content #duration-count {
    font-size: 16px; }
  #order-content .order-button {
    box-sizing: border-box;
    font-size: 24px;
    height: 50px;
    padding: 5px;
    display: block;
    border-radius: 3px; }
  #order-content .time-table-container {
    position: relative; }
    #order-content .time-table-container .loading {
      background-color: rgba(255, 255, 255, 0.5);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute; }
      #order-content .time-table-container .loading .text {
        position: absolute;
        text-align: center;
        top: 33%;
        width: 100%; }
  #order-content #time-table {
    border-collapse: collapse;
    margin-bottom: 30px;
    font-size: 14px; }
    #order-content #time-table td {
      padding: 0; }
    #order-content #time-table button {
      padding: 5px; }
    #order-content #time-table .ui-button-text {
      padding-left: 5px;
      padding-right: 5px; }
  #order-content .login-container {
    padding: 20px; }
    #order-content .login-container .vk-button {
      background-color: #46a;
      border: solid 3px #359;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 24px;
      height: 50px;
      padding: 8px; }
      #order-content .login-container .vk-button:hover {
        background-color: #57b; }
    #order-content .login-container .phone {
      background-color: #eee;
      border: solid 3px #359;
      border-left: none;
      box-sizing: border-box;
      color: #444;
      float: left;
      font-size: 24px;
      font-weight: bold;
      height: 50px;
      padding: 5px;
      text-align: center; }
      #order-content .login-container .phone:focus {
        background-color: white; }
  #order-content .order-note {
    font-size: 14px;
    max-width: 400px; }
  #order-content .record {
    border: solid 3px #66f;
    border-collapse: collapse;
    display: none;
    margin: 20px auto 0; }
    #order-content .record td:last-child {
      text-align: right; }
    #order-content .record tr:first-of-type td {
      background-color: #66f;
      color: white;
      text-align: center; }
    #order-content .record tr:last-of-type td {
      padding: 0; }
    #order-content .record tr {
      padding: 0; }
      #order-content .record tr:nth-child(odd) {
        background-color: #ccf; }
      #order-content .record tr:hover {
        color: black; }
    #order-content .record td {
      padding: 5px 15px;
      width: 50%; }
    #order-content .record button {
      display: block;
      width: 100%; }
    #order-content .record .ui-button-text {
      color: #600;
      font-size: 16px;
      text-decoration: underline; }

.contacts-container {
  display: table;
  margin: 0 auto; }
  .contacts-container table.contacts {
    display: inline-block;
    font-size: 20px;
    margin: 0 20px 20px; }
    .contacts-container table.contacts img {
      height: 35px;
      top: 2px;
      position: relative;
      width: 35px; }
    .contacts-container table.contacts td:first-child {
      color: black;
      font-size: 40px; }
  .contacts-container a {
    color: #445; }
    .contacts-container a:hover {
      color: black; }

#map {
  height: 400px; }

.partners {
  text-align: center;
  padding-top: 10px; }
  .partners .container {
    display: inline-block;
    margin: 0 auto; }
    .partners .container .a {
      float: left;
      width: 100px; }
      .partners .container .a:hover img {
        border-color: white; }
      .partners .container .a:hover .title span {
        text-decoration: underline; }
      .partners .container .a img {
        background-color: white;
        border-radius: 50%;
        border: solid 5px black;
        height: 60px;
        padding: 10px;
        width: 60px;
        transition: border-color;
        transition-duration: 500ms; }
      .partners .container .a .title {
        font-size: 14px;
        margin: 0;
        position: relative;
        text-align: center;
        top: -5px; }
        .partners .container .a .title span {
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          padding: 5px; }

footer {
  background-color: #111;
  text-align: center; }
  footer .copy {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    text-align: center; }
  footer .developer {
    color: white;
    font-size: 12px; }
