body {
  color: #445;
  font-family: Verdana;
  font-size: 20px;
  margin: 0; }

.clearfix, header {
  display: table;
  clear: both;
  content: ' '; }

.to-center, .report {
  display: table;
  margin-left: auto;
  margin-right: auto; }

body {
  font-size: 16px; }

.login-form {
  background-color: #ccf;
  display: table;
  margin: 10px auto;
  padding: 10px; }
  .login-form input {
    font-size: 20px; }

header {
  width: 100%; }
  header .page-title {
    float: left; }
  header .logout {
    float: right; }

.report {
  display: table; }

.records {
  border-collapse: collapse; }
  .records td {
    border: solid 1px black;
    padding: 3px; }
    .records td.delete {
      padding: 0; }
  .records button {
    font-size: 16px; }
