body {
  color: #445;
  font-family: Verdana;
  font-size: 20px;
  margin: 0; }

.clearfix {
  display: table;
  clear: both;
  content: ' '; }

.to-center {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.login-form {
  background-color: #ccf;
  display: table;
  margin: 10px auto;
  padding: 10px; }
  .login-form input {
    font-size: 20px; }
