$nav-color: #000;//#88f;
$hover-color: #66f;
$light-color: #ccf;
$text-color: #445;

body {
    color: $text-color;
    font-family: Verdana;
    font-size: 20px;
    margin: 0;
}

.clearfix {
    display: table;
    clear: both;
    content: ' ';
}

.to-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}