.gallery {
    margin: 0 auto 20px;
    max-width: $max-content-width;
    width: 80%;

    .thumb {
        border-radius: 5px;
        width: 24%;

        @include less($small) {
            width: 23%;
        }

        @include less($mobile) {
            width: 30%;
        }
    }

    a {
        margin: 0;
        text-decoration: none;
    }
}