.gallery {
	margin: 0 auto 20px;
	// text-align: justify;
	width: 960px;

	// .thumb-container {
	// 	display: inline-block;
	// 	width: 100px;
	// }

	.thumb {
		border-radius: 5px;
		border: solid 3px white;
		width: 120px;
		height: 120px;
	}

	a {
		text-decoration: none;
	}
}