#order-content {
	margin: 0 auto;
	width: 960px;

	.control-header {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.control-group {
		float: left;
		margin: 0 10px;
	}

	.ui-state-active {
		background: #58c;
		border-color: #445;
		color: white;
	}

	// .ui-state-hover {
	// 	background: $hover-color;
	// 	border-color: $nav-color;
	// 	color: white;
	// }

	.recall, .date-container {
		@extend .control-group;
	}

	.date-title {
		@extend .control-header;
	}

	#datepicker {
		// .ui-widget-header {
		// 	background: $nav-color;
		// }

		// .ui-datepicker-next, .ui-datepicker-prev {
		// 	background: $nav-color;
		// 	border-color: white;
		// }

		// .ui-datepicker-title {
		// 	color: white;
		// }

		th {
			color: $text-color;
		}
	}

	#guests-count {
		margin-bottom: 0;

		input[type=radio] {
			display: none;
		}
	}

	.duration-title, .time-title, .guests-title {
		@extend .control-header;
	}

	#guests-count, #more-count, #duration-count {
		font-size: 16px;
	}

	.order-button {
		box-sizing: border-box;
		font-size: 24px;
		height: 50px;
		padding: 5px;
		display: block;
		border-radius: 3px;
	}

	#time-table {
		@extend .to-center;

		border-collapse: collapse;
		margin-bottom: 30px;
		font-size: 14px;
		
		td {
			padding: 0;
		}

		button {
			padding: 5px;
		}
	}

	.login-container {
		@extend .clearfix;
		@extend .to-center;

		padding: 20px;
	}

	.vk-button {
		background-color: #46a;
		border: solid 3px #359;
		box-sizing: border-box;
		color: white;
		cursor: pointer;
		display: inline-block;
		float: left;
		font-size: 24px;
		height: 50px;
		padding: 8px;

		&:hover {
			background-color: #57b;
		}
	}

	.phone {
		background-color: #eee;
		border: solid 3px #359;
		border-left: none;
		box-sizing: border-box;
		float: left;
		font-size: 24px;
		height: 50px;
		padding: 5px;
		text-align: center;
		
		&:focus {
			background-color: white;
		}
	}

	.order-note {
		font-size: 14px;
	}
}