#order-content {
    margin: 0 auto;
    max-width: $max-content-width;

    #instruction {
        border-bottom: solid 1px #aaa;
        font-size: 14px;
        padding-bottom: 10px;

        @include less($small) {
            padding-left: 3%;
            padding-right: 3%;
        }

        ul {
            margin-top: 5px;
        }
    }
  
    .control-header {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 5px;

        @include less($medium) {
            font-size: 20px;
        }

        @include less($small) {
            font-size: 24px;
        }

        @include less($mobile) {
            font-size: 20px;
        }
    }

    .control-group {
        float: left;
        margin: 0 10px;

        @include less($small) {
            float: none;
            margin-left: auto;
            margin-right: auto;
            padding-left: 5%;
        }

        @include less($mobile) {
            padding-left: auto;
        }
    }

    .ui-state-active {
        background: #58c;
        border-color: #445;
        color: white;
    }

    .recall, .date-container {
        @extend .control-group;
    }

    #datepicker, #time-table, #guests-count, #more-count, #duration-count {
        @extend .no-select;
    }

    #datepicker {
        font-size: 0.9em;

        @include less($medium) {
            font-size: 0.8em;
        }

        @include less($small) {
            font-size: 1em;
        }

        @include less($mobile) {
            font-size: 0.7em;
        }

        th {
            color: $text-color;
        }
    }

    #guests-count {
        margin-bottom: 0;

        input[type=radio] {
            display: none;
        }
    }

    .date-title, .duration-title, .time-title, .guests-title {
        @extend .control-header;
    }

    #guests-count, #more-count, #duration-count {
        font-size: 16px;

        @include less($medium) {
            font-size: 14px;
        }

        @include less($small) {
            font-size: 18px;
        }

        @include less($mobile) {
            font-size: 12px;
        }
    }

    #duration-count {
        .ui-button-text {
            padding-left: .8em;
            padding-right: .8em;
        }
    }

    #order-button {
        box-sizing: border-box;
        display: block;
        border-radius: 3px;

        @include less($mobile) {
            font-size: 0.8em;
        }
    }

    .time-table-container {
        position: relative;

        .warning {
            color: red;
            font-size: 12px;
        }

        .loading {
            @extend .cover;

            background-color: rgba(255, 255, 255, 0.5);

            .text {
                position: absolute;
                text-align: center;
                top: 33%;
                width: 100%;
            }
        }
    }

    #time-table {
        border-collapse: collapse;
        margin-bottom: 30px;
        font-size: 14px;

        @include less($medium) {
            font-size: 12px;
        }

        @include less($small) {
            font-size: 16px;
        }

        @include less($mobile) {
            font-size: 10px;
        }
        
        td {
            padding: 0;
        }

        button {
            padding: 5px;
        }

        .ui-button-text {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .login-container {
        @extend .clearfix;
        @extend .to-center;

        padding: 20px;

        .login-tool {
            box-sizing: border-box;
            border: solid 3px #359;
            float: left;
            font-size: 24px;
            height: 50px;

            @include less($medium) {
                font-size: 20px;
                height: 44px;
            }

            @include less($small) {
                height: 40px;
                font-size: 18px;
                text-align: center;
                width: 100%;
            }

            @include less($mobile) {
                font-size: 16px;
            }
        }

        .vk-button {
            @extend .login-tool;

            background-color: #46a;
            color: white;
            cursor: pointer;
            display: inline-block;
            line-height: 100%;
            padding: 8px;

            @include less($small) {
                padding: 8px;
            }

            &:hover {
                background-color: #57b;
            }
        }

        .phone {
            @extend .login-tool;

            background-color: #eee;
            border-left: none;
            color: #444;
            font-weight: bold;
            padding: 5px;
            text-align: center;
            
            &:focus {
                background-color: white;
            }

            @include less($small) {
                border-left: solid 3px #359;
                border-top: none;
                padding: 3px;
            }
        }
    }

    .order-note {
        font-size: 14px;
        max-width: 350px;

        @include less($medium) {
            font-size: 12px;
            max-width: 300px;
        }
    }

    .record {
        border: solid 3px $hover-color;
        border-collapse: collapse;
        margin: 20px auto 10px;

        @include less($very-small) {
            font-size: 16px;
        }

        @include less($mobile) {
            font-size: 12px;
        }

        td:last-child {
            text-align: right;
        }

        tr:first-of-type td {
            background-color: $hover-color;
            color: white;
            text-align: center;
        }

        tr:last-of-type td {
            padding: 0;
        }

        tr {
            padding: 0;

            &:nth-child(odd) {
                background-color: $light-color;
            }

            &:hover {
                color: black;
            }
        }

        td {
            padding: 5px 15px;
            width: 50%;
        }

        button {
            display: block;
            width: 100%;
        }

        .ui-button-text {
            color: #600;
            font-size: 16px;
            text-decoration: underline;
        }
    }
}