#prices {
    .container {
        display: table;
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: $max-content-width;
    }

    .stars {
        color: black;
    }
}

.pricelist {
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    width: 49.9%;

    @include less($very-small) {
        width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        border: solid 3px $hover-color;
        border-collapse: collapse;
        margin: 0 auto;
        padding: 5px;
        white-space: nowrap;
        width: 90%;

        tr {
            &:nth-child(odd) {
                background-color: $light-color;
            }

            &.time td {
                background-color: $hover-color;
                color: white;
                font-size: 14px;
                font-weight: bold;
                text-align: center;

                @include less($mobile) {
                    font-size: 12px;
                }
            }

            &:hover {
                color: black;
            }
        }

        th {
            background-color: $hover-color;
            color: white;
            padding: 10px;
            font-size: 24px;

            @include less($small) {
                font-size: 20px;
                padding: 7px;
            }

            @include less($very-small) {
                font-size: 18px;
                padding: 5px;
            }

            @include less($mobile) {
                font-size: 16px;
            }
        }

        td {
            font-size: 20px;
            padding: 4px 20px;

            @include less($small) {
                font-size: 16px;
            }

            @include less($mobile) {
                font-size: 14px;
            }

            &:first-child {
                padding-right: 5px;
            }

            &:last-child {
                text-align: right;
                padding-left: 5px;
            }

            sup {
                font-size: 0.8em;
            }
        }
    }

    &.sertificate {
        img {
            width: 100%;
        }
    }

    &.holidays {
        float: right;

        @include less($very-small) {
            float: none;
        }
    }

    &.holidays, &.workdays {
        tr:last-child {
            border-top: solid 1px $hover-color;
        }
    }
}

p.note {
    clear: both;
    margin: 0;
    padding: 0 0 5px;
    text-align: center;
    width: 960px;

    &:first-of-type {
        padding-top: 20px;
    }
}