@import "common";

$mobile-minimum:    320px;
$mobile:            480px;
$very-small:        590px;
$small:             768px;
$medium:            992px; 
$large:            1200px;

$max-content-width: 960px;

// navigation menu
nav {
    background-color: $nav-color;
    box-shadow: 0 0 5px black;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;

    a.menu-logo {
        background: {
            image: url("../img/small-logo.png");
            size: 80%;
            position: center center;
            repeat: no-repeat;
        }
        cursor: pointer;
        color: rgba(0, 0, 0, 0);
        width: 120px;

        @include less($small) {
            width: 90px;
        }

        @include less($very-small) {
            width: 60px;
        }

        @include less($mobile) {
            display: none;
        }

        &:hover, &.active {
            background-color: $nav-color;
        }
    }

    ul {
        display: table;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }

    li {
        float: left;
        margin: 0;
        padding: 0;
    }

    a {
        background: $nav-color;
        box-sizing: border-box;
        color: white;
        display: block;
        margin: 0;
        padding: 10px 20px;
        text-decoration: none;

        transition: background-color;
        transition-duration: 0.3s;

        @include less($small) {
            font-size: 17px;
            padding: 8px 14px;
        }

        @include less($very-small) {
            font-size: 14px;
            padding: 6px 11px;
        }

        @include less($mobile) {
            font-size: 12px;
            padding: 5px 8px;
        }

        &:hover, &.active {
            background-color: $hover-color;
            border-bottom: solid 3px white;
        }
    }
}

// offset animated elements
.rand-popup {
    position: relative;
}

// landing sections
section {
    font-size: 16px;
    display: block;
    overflow: hidden;

    &:nth-of-type(odd) {
        background-color: #eee;
    }
}

h2 {
    border-bottom: solid 1px gray;
    font-size: 36px;
    margin: 0 auto 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;

    @include less($small) {
        font-size: 32px;
        padding-top: 24px;
        padding-bottom: 16px;
    }

    @include less($very-small) {
        font-size: 28px;
        padding-top: 18px;
        padding-bottom: 12px;
    }

    @include less($mobile) {
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

h3 {
    margin: 0 auto;
    text-align: center;
}

@import "summary";
@import "about";
@import "gallery";
@import "prices";
@import "order";
@import "contacts";
@import "footer";
