#slider {
	padding-top: 50%;
	position: relative;
}

.slide {
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	h1 {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		padding: 10px;
		position: absolute;
		text-align: center;
		left: 10px;
		top: 10px;
	}
}
